{% extends 'base.html.twig' %}

{% block title %}HoraireOuverture index{% endblock %}

{% block body %}
    <h1>HoraireOuverture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Horaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horaire_ouverture in horaire_ouvertures %}
            <tr>
                <td>{{ horaire_ouverture.id }}</td>
                <td>{{ horaire_ouverture.horaire ? horaire_ouverture.horaire|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_horaire_ouverture_show', {'id': horaire_ouverture.id}) }}">show</a>
                    <a href="{{ path('app_horaire_ouverture_edit', {'id': horaire_ouverture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_horaire_ouverture_new') }}">Create new</a>
{% endblock %}
